button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	//font-family: $font__main;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 5px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	font-size: 15*$px;
	font-weight: 400;
	line-height: 1;
	padding: .6em 1em .8em;

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__main;
		color: #fff;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
